body{
    height: 100vh; 
    background-image:linear-gradient(to bottom right,red, yellow);
}

.block{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 5px;
    width: 5px;
}
.container{
    display: grid;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 50vw;
    width: 50vw;
    margin: auto;
    margin-top: 5%;
    box-shadow: 7px 7px 3px rgb(231, 58, 139)
}
#resetButton{
    display:block;
    margin: auto;
    margin-top: 5%;
}